name: CI/CD Pipeline Flask


on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    # --- PREPARACIÓN ---
    - name: 1. Obtener el código
      uses: actions/checkout@v3

    - name: 2. Instalar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: 3. Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install flake8 pytest

    # --- ETAPA 1: LINT (Calidad) ---
    - name: Etapa 1 - Linting
      run: |
        # Revisa errores de sintaxis (ignora errores menores para no bloquearte hoy)
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

    # --- ETAPA 2: TEST (Pruebas) ---
    - name: Etapa 2 - Test
      run: pytest

    # --- ETAPA 3: BUILD (Empaquetado) ---
    - name: Etapa 3 - Build
      run: |
        # Empaqueta todo en un archivo comprimido
        tar -czf proyecto.tar.gz app.py requirements.txt

    # --- ETAPA 4: PACKING (Envío a AWS) ---
    - name: Etapa 4 - Enviar a AWS (SCP)
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST_DNS }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "proyecto.tar.gz"
        target: "/home/ubuntu/"

   # --- ETAPA 5: DEPLOY (Estrategia Script Local) ---
    - name: Etapa 5 - Desplegar
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST_DNS }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        command_timeout: 4m
        script: |
          # Solo le decimos: "Corre el script que ya tienes guardado"
          bash /home/ubuntu/deploy.sh