name: CI/CD Pipeline Flask


on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    # --- PREPARACIÓN ---
    - name: 1. Obtener el código
      uses: actions/checkout@v3

    - name: 2. Instalar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: 3. Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install flake8 pytest

    # --- ETAPA 1: LINT (Calidad) ---
    - name: Etapa 1 - Linting
      run: |
        # Revisa errores de sintaxis (ignora errores menores para no bloquearte hoy)
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

    # --- ETAPA 2: TEST (Pruebas) ---
    - name: Etapa 2 - Test
      run: pytest

    # --- ETAPA 3: BUILD (Empaquetado) ---
    - name: Etapa 3 - Build
      run: |
        # Empaqueta todo en un archivo comprimido
        tar -czf proyecto.tar.gz app.py requirements.txt

    # --- ETAPA 4: PACKING (Envío a AWS) ---
    - name: Etapa 4 - Enviar a AWS (SCP)
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST_DNS }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "proyecto.tar.gz"
        target: "/home/ubuntu/"

    # --- ETAPA 5: DEPLOY (Ejecución) ---
    - name: Etapa 5 - Desplegar
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST_DNS }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          # 1. Detener la app anterior (si existe)
          pkill -f "python3 app.py" || true
          
          # 2. Descomprimir lo nuevo
          cd /home/ubuntu/
          tar -xzf proyecto.tar.gz
          
          # 3. Instalar librerías en el servidor
          sudo pip3 install -r requirements.txt
          
          # 4. Iniciar la app en segundo plano
          # nohup permite que siga corriendo aunque GitHub se desconecte
          nohup python3 app.py > /dev/null 2>&1 &